.header {
  background-color: #f5f5f5;
  padding: 10px 0;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navItem {
  list-style: none;
  display: flex;
  gap: 20px;
}